@model BinaryStudio.ClientManager.DomainModel.Entities.User

@{
    Layout = null;
}

<div id="logoff">
    @*<a href="@Url.Action("Edit","Employees",new {id = @Model.RelatedPerson.Id})">
        <span>@Model.RelatedPerson.FullName</span> 
    </a>*@
    @Html.ActionLink("Log Off", "LogOff", "Auth", null, new {
                                                            @class="btn",
                                                        })
    <br/>
@*<span>@Model.CurrentTeam.SafeGet(x=>x.Name).Or("No current team")</span>*@
</div>
