@model IEnumerable<BinaryStudio.ClientManager.DomainModel.Entities.Team>

@(Layout = null)

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#main-tab" data-toggle="tab">Main</a></li>
        @if (Model != null)
        {
            foreach (var team in Model)
            {
                <li><a data-toggle="tab" href="#@(team.Name)-tab">@(team.Name)  </a></li>
            }
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="main-tab">
            <span>Team Name </span>
            <input id="new-team-name"> </input>
            <button onclick="CreateTeam()">Create Team</button>
        </div>
        @if (Model != null)
        {
            foreach (var team in Model)
            {
                <div class="tab-pane" id="@(team.Name)-tab">
                    <button onclick="MakeTeamCurrent(@team.Id)">Make team current</button>
                    <ul>
                        @foreach(var user in team.Users)
                        {
                            <li>
                                <span>@user.RelatedPerson.FullName</span>
                                <button onclick="RemoveUser(@user.Id, @team.Id)">Kick</button>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
    </div>
</div>


<script type="text/javascript">
    function CreateTeam() {
        var teamName = $('#new-team-name').val();
        
        var onSuccess = function () {
            ShowAlert("Success");
        };

        var onError = function () {
            ShowAlert("Error while AJAX request");  
        };

        $.ajax({
            url: "/Teams/CreateTeam",
            type: "POST",
            data: { name: teamName }
        }).success(onSuccess).error(onError);
    }

    function RemoveUser(userId, teamId) {
       var onSuccess = function () {
            ShowAlert("Success");
        };

        var onError = function () {
            ShowAlert("Error while AJAX request");
        };

        $.ajax({
            url: "/Teams/RemoveUser",
            type: "POST",
            data: { userId: userId, teamId: teamId }
        }).success(onSuccess).error(onError);
    }

    function MakeTeamCurrent(teamId) {
        var onSuccess = function () {
            ShowAlert("Success");
        };

        var onError = function () {
            ShowAlert("Error while AJAX request");
        };

        $.ajax({
            url: "/Teams/MakeTeamCurrent",
            type: "POST",
            data: {teamId: teamId }
        }).success(onSuccess).error(onError);
    }
</script>