@using Microsoft.Web.Mvc
@model TeamsViewModel

@(Layout = null)

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs" id="team-tab">
        <li><a href="#main-tab" data-toggle="tab">Create new team</a></li>
        @if (Model != null)
        {
            foreach (var team in Model.User.Teams)
            {
                <li><a data-toggle="tab" href="#@(team.Name)-tab">@(team.Name)  </a></li>
            }
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane @(Model.User.CurrentTeam==null?"active":"")"  id="main-tab">
            <span>Team Name: </span>
            <input id="new-team-name" />
            <input type="button" class="btn" value="Create" onclick="CreateTeam()" />
        </div>
        @if (Model != null)
        {
            foreach (var team in Model.User.Teams)
            {
                <div class="tab-pane @(Model.User.SafeGet(x=>x.CurrentTeam.Id)==team.Id?"active":"")" id="@(team.Name)-tab">
                    <button class="btn right" onclick="MakeTeamCurrent(@team.Id)">Make team current</button>
                    <div class="ui-widget">
                        <label for="employees">Employees: </label>
                        <input id="@(team.Name+"-employees")" class="employees"/>
                        <input type="button" class="btn" value="Add" onclick="AddUser(@team.Id,'@team.Name')" />
                    </div>
                    <ul>
                        @foreach(var user in team.Users)
                        {
                            <li>
                                <span>@user.RelatedPerson.FullName</span>
                                <input type="button" class="btn" value="@(user.Id == Model.User.Id ? "Leave" : "Kick")" onclick="RemoveUser(@user.Id, @team.Id,'@team.Name')" />
                            </li>
                        }
                    </ul>
                </div>
            }
        }
    </div>
</div>

<script type="text/javascript">
    $(function() {
        window.Employees = @Html.ToJson(Model.Employees);
    });
    
</script>

@Html.Script("TeamIndexScripts.js")