@using Microsoft.Web.Mvc;

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        @Html.Css("bootstrap.min.css")
        @Html.Css("bootstrap-responsive.min.css")
        @Html.Css("datepicker.css")
        @Html.Css("styles.less")
        @Html.Script("jquery-1.7.2.min.js", "jquery-1.7.2.js")
        @Html.Script("bootstrap.min.js", "bootstrap.js")
        @Html.Script("bootstrap-datepicker.js")
        @Html.Script("shared.js")
    </head>
    <body>
        <div id="header" class="container">
            <div class="btn-group pull-left">
                <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
                    @ViewBag.Title
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Week", "Week", "Inquiries")</li>
                    <li>@Html.ActionLink("Month", "Month", "Inquiries")</li>
                    <li>@Html.ActionLink("All", "All", "Inquiries")</li>
                    <li>@Html.ActionLink("Admin", "Admin", "Inquiries")</li>
                </ul>
            </div>
            <div class="input-prepend pull-right">
                <span class="add-on">Filter</span><input class="input-xlarge" type="text" />
            </div>
        </div>
        <div id="body">
            @RenderBody()
        </div>
    </body>
    <script type="text/javascript">
        $(function () {
            $('.dropdown-menu a').each(function () {
                if (this.href.substring(this.href.length - document.location.pathname.length) == document.location.pathname) {
                    $(this).css({ display: "none" });
                }
            });
        });
    </script> 
</html>