@using Microsoft.Web.Mvc;

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        @Html.Css("bootstrap.min.css")
        @Html.Css("bootstrap-responsive.min.css")
        @Html.Css("datepicker.css")
        @Html.Css("themes/base/jquery-ui.css");
        @Html.Css("styles.less")
        @Html.Script("jquery-1.7.2.min.js", "jquery-1.7.2.js")
        @Html.Script("jquery-ui-1.8.22.custom.min.js")
        @Html.Script("jquery-ui-1.8.22.min.js", "jquery-ui-1.8.22.js")
        @Html.Script("bootstrap.min.js", "bootstrap.js")
        @Html.Script("bootstrap-datepicker.js")
        @Html.Script("knockout-2.1.0.js", "knockout-2.1.0.debug.js")
        @Html.Script("shared.js")
        @Html.Script("CommonViewsScript.js")
    </head>
    <body>
        <div id="header" class="container">
            <span>@ViewBag.User</span>
            <div class="btn-group pull-right">
                @Html.ActionLink("Log Off", "LogOff", "Auth", null, new {
                                                                  @class="btn",
                                                                  id="logoff"
                                                              })
            </div>
            <div class="btn-group pull-left">
                <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
                    @ViewBag.Title
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" id="navigation">
                    <li>@Html.ActionLink("This Week", "Week", "Inquiries")</li>
                    <li>@Html.ActionLink("This Month", "Month", "Inquiries")</li>
                    <li>@Html.ActionLink("All Inquiries", "All", "Inquiries")</li>
                    <li>@Html.ActionLink("Admin", "Admin", "Inquiries")</li>
                </ul>
            </div>
            <div class="input-prepend pull-right">
                <span class="add-on">Filter</span><input class="input-xlarge" type="text" data-bind="value: Filter" />
            </div>
        </div>
        <div id="body">
            @RenderBody()
        </div>
    </body>
</html>