@using Microsoft.Web.Mvc;

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        @Html.Css("bootstrap.min.css")
        @Html.Css("bootstrap-responsive.min.css")
        @Html.Css("Site.css")
        @Html.Css("styles.css")
        @Html.Css("jquery-ui-1.8.21.custom.css")

        @Html.Script("jquery-1.7.2.min.js", "jquery-1.7.2.js")
        @Html.Script("bootstrap.min.js", "bootstrap.js")
        @Html.Script("jquery.ui.datepicker.js")
        @Html.Script("jquery.ui.datepicker-ru.js")
        @Html.Script("jquery.ui.core.js")
        @Html.Script("knockout-2.1.0.js", "knockout-2.1.0.debug.js")
        @Html.Script("shared.js")
    </head>
    <body>
        <div id="header" class="container">
            <div class="btn-group pull-left">
                <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
                    View
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Week", "Week", "Inquiries")</li>
                    <li>@Html.ActionLink("Month", "Month", "Inquiries")</li>
                    <li>@Html.ActionLink("All", "All", "Inquiries")</li>
                    <li>@Html.ActionLink("Admin", "Admin", "Inquiries")</li>
                </ul>
            </div>
            <div class="input-prepend pull-right">
                <span class="add-on">Filter</span><input class="input-large" type="text" />
            </div>
        </div>
        <div id="body">
            @RenderBody()
        </div>
    </body>
</html>