@using Microsoft.Web.Mvc;

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Css("bootstrap.min.css")
    @Html.Css("bootstrap-responsive.min.css")
    @Html.Css("Site.css")
    @Html.Script("jquery-1.7.2.min.js", "jquery-1.7.2.js")
    @Html.Script("bootstrap.min.js", "bootstrap.js")
    @Html.Script("jquery.ui.datepicker.js")
    @Html.Script("jquery.ui.datepicker-ru.js")
    @Html.Script("jquery.ui.core.js")

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                @Html.ActionLink("Client Manager", "Index", "Dashboard", null, new { @class = "brand" })
                <ul class="nav">
                    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>
