@using Microsoft.Web.Mvc;

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        @Html.Css("bootstrap.min.css")
        @Html.Css("bootstrap-responsive.min.css")
        @Html.Css("Site.css")
        @Html.Css("jquery-ui-1.8.21.custom.css")

        @Html.Script("jquery-1.7.2.min.js", "jquery-1.7.2.js")
        @Html.Script("bootstrap.min.js", "bootstrap.js")
        @Html.Script("jquery.ui.datepicker.js")
        @Html.Script("jquery.ui.datepicker-ru.js")
        @Html.Script("jquery.ui.core.js")
        @Html.Script("knockout-2.1.0.js", "knockout-2.1.0.debug.js")
        @Html.Script("shared.js")
    </head>
    <body>
        <div class="container">
            <div id="header" class="row-fluid">
                <div class="btn-group span4">
                    <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
                        View
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Week", "WeekView", "Inquiries")</li>
                        <li>@Html.ActionLink("Month", "MonthView", "Inquiries")</li>
                        <li>@Html.ActionLink("All", "AllView", "Inquiries")</li>
                        <li>@Html.ActionLink("Admin", "AdminView", "Inquiries")</li>
                    </ul>
                </div>
                <div class="span8">
                    <div class="input-prepend pull-right">
                        <span class="add-on">Filter</span><input class="input-large" type="text" />
                    </div>
                </div>
            </div>
        </div>
        <div id="body">
            @RenderBody()
        </div>
    </body>
</html>