@model BinaryStudio.ClientManager.DomainModel.Entities.Person

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
<div class="container">
<div class ="page-header">
    <h2>Details</h2>
</div>        
    <ul class ="employees">
        <li class ="well span8">
            <div class="form-horizontal" >
                <div class="span2">
                    <img src='<%= @Url.Action( "ShowPhoto", "Clients", new { id = Model.Id } ) %>' alt="Photo" height="100px" width="100px"/>
                </div>
                <div class="span3">
                    <p>
                        Full Name: @Model.FullName 
                    </p>
                    <p>
                        Country: @Model.Country
                    </p>
                </div>
                <div class="span3">
                    <p>
                        Email: @Model.Email
                    </p>  
                    <p>
                        Phone: @Model.Phone
                    </p> 
                    <div class="btn-group">
                        <a class = "btn btn-inverse" href="@Url.Action("Edit", "Employees", new { id = Model.Id })">Edit</a>
                        <a class="btn" href="@Url.Action("Index", "Employees", new { id = Model.Id })">Back to list</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</>