@model IQueryable<BinaryStudio.ClientManager.DomainModel.Entities.Person>

<div class="container">          
    <ul class ="employees">
        @foreach(var employee in Model)
        {
            <li class ="well span8">
                <div class="form-horizontal" >
                    <div class="span2">
                        <img src="@Url.Content(employee.PhotoPath)" alt="Photo" height="100px" width="100px"/>
                    </div>
                    <div class="span3">
                        <p>
                            Full Name: @employee.FullName 
                        </p>
                        <p>
                            Country: @employee.Country
                        </p>
                    </div>
                    <div class="span3">
                        <p>
                            Email: @employee.Email
                        </p>  
                        <p>
                            Phone: @employee.Phone
                        </p> 
                        <div class="btn-group">
                            <a class = "btn btn-inverse" href="@Url.Action("Edit", "Employees", new { id = employee.Id })">Edit</a>
                            <a class="btn" href="@Url.Action("Details", "Employees", new { id = employee.Id })">Details</a>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>