@model IQueryable<BinaryStudio.ClientManager.DomainModel.Entities.Person>

<div class="container">          
    <ul class ="employees">
        @foreach(var employee in Model)
        {
            <li>
                <div class="row-fluid" >
                    <div class="span2">
                        <img src='<%= @Url.Action( "ShowPhoto", "Clients", new { id = employee.Id } ) %>' alt="Photo" height="100px" width="100px"/>
                    </div>
                    <div class="span5">
                        <p>
                            Full Name: @employee.FullName 
                        </p>
                        <p>
                            Country: @employee.Country
                        </p>
                    </div>
                    <div class="span5">
                        <p>
                            Email: @employee.Email
                        </p>  
                        <p>
                            Phone: @employee.Phone
                        </p> 
                        <a class="btn-info" href="@Url.Action("MailingHistory", "Clients", new { id = employee.Id })">Mailing history</a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>