@model IQueryable<BinaryStudio.ClientManager.DomainModel.Entities.Person>
           
Our employees:

<ul class ="employees">
    @foreach(var employee in Model)
    {
        <li>
            <div class="row" >
                <div class="span2">
                    <img src='<%= @Url.Action( "ShowPhoto", "Clients", new { id = employee.Id } ) %>' alt="Photo" height="100px" width="100px"/>
                </div>
                <div class="span5">
                    <div class="row">
                        Full Name: @employee.FullName 
                    </div>
                    <div class="row">
                        Country: @employee.Country
                    </div>
                </div>
                <div class="span5">
                    <div class="row">
                        Email: @employee.Email
                    </div>  
                    <div class="row">
                        Phone: @employee.Phone
                    </div> 
                </div>
            </div>
        </li>
    }
</ul>