@using Microsoft.Web.Mvc
@model AdminViewModel

@{
    ViewBag.Title = "Admin";
}

@Html.Partial("_Alert")

<div id="admin" class="container">
    <ul data-bind="foreach : Inquiries">
        @Html.Partial("_Inquiry")        
    </ul>
</div>

@Html.Partial("_CommentEditor")

<script type="text/javascript">
    $(function() {
        window.viewModel = @Html.ToJson(Model);
    });
</script>

@Html.Script("AdminViewFiltering.js")

