@using BinaryStudio.ClientManager.DomainModel.Infrastructure
@model BinaryStudio.ClientManager.WebUi.Models.AdminViewModel

<div id="admin" class="container">
    @foreach (var category in Model.Categories)
    {
        <div class="category">
            <ul>
                @foreach(var inquiry in category.Inquiries)
                {
                    <li class="inquiry @category.Tag.SafeGet(x => x.CssClass).Or("empty-tag")">
                        <div class="primary-info">
                            <a href="@Url.Action("Details", new { id = inquiry.Id })">
                                <span class="name">@inquiry.FullName</span> <br/>
                                <span class="subject">@inquiry.Subject</span>
                            </a>
                        </div>
                        <div class="secondary-info">
                            <div>
                                <span class="icon-user"></span> @inquiry.Assignee.Cut(20).Or("N/A")
                                <div class="pull-right dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Menu<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <span class="icon-user"></span> Assign to
                                            </a>
                                            <ul class="dropdown-menu sub-menu">
                                                @foreach(var employee in Model.Employees)
                                                {
                                                    <li><a href="#" onclick="OnClickAssign(@employee.Id,@inquiry.Id)">@employee.FullName</a></li>
                                                }
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <span class="icon-tag"></span> Add tag
                                            </a>
                                            <ul class="dropdown-menu sub-menu">
                                                @foreach(var tag in Model.Tags)
                                                {
                                                    <li><a href="#" onclick="OnClickAddTag(@tag.Id,@inquiry.Id)">@tag.Name</a></li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</div>

<script type="text/javascript">
    function OnClickAssign(employee, inquiry) {
        var onSuccess = function() {
            location.reload(true);
        };

        var onError = function() {
            alert("Error while AJAX request");
        };

        $.ajax({
            url: "@Url.Action("AssignTo")",
            type: "POST",
            data: { inquiryId: inquiry, employeeId: employee }
        }).success(onSuccess).error(onError);
    };
    
    function OnClickAddTag(tag, inquiry) {
        var onSuccess = function() {
            location.reload(true);
        };

        var onError = function() {
            alert("Error while AJAX request");
        };

        $.ajax({
            url: "@Url.Action("AddTag")",
            type: "POST",
            data: { inquiryId: inquiry, tagId: tag }
        }).success(onSuccess).error(onError);
    };
</script>