@using BinaryStudio.ClientManager.DomainModel.Entities
@using BinaryStudio.ClientManager.DomainModel.Infrastructure
@model BinaryStudio.ClientManager.WebUi.Models.AllInquiriesViewModel

<div id="All" class="container">
@foreach (var category in Model.Categories)
{
    <div class="row-fluid">
        <ul class="all-inquiries">
            @foreach (var inquiry in category.Inquiries)
            {
                
                
                <li class="inquiry @category.Tag.SafeGet(x => x.CssClass).Or("empty-tag")">
                    <a href="@Url.Action("Details", new { id = inquiry.Id })">
                        @inquiry.FullName <br/>
                        @inquiry.Subject 
                    </a>
                    <div>
                        @category.Tag.SafeGet(x=>x.Name).Or("No tags")                      
                    </div>
                </li>
                
            }
        </ul>
    </div>    
}
</div>