@using BinaryStudio.ClientManager.DomainModel.Infrastructure
@model BinaryStudio.ClientManager.WebUi.Models.AllInquiriesViewModel

@{
    ViewBag.Title = "All inquiries";
}

<div id="all" class="container">
@foreach (var category in Model.Categories)
{   
    <div class="row-fluid">
        <ul>
            @foreach (var inquiry in category.Inquiries)
            {                                
                <li class="inquiry @category.Tag.CssClass">
                    <a href="@Url.Action("Details", new { id = inquiry.Id })">
                        @inquiry.FullName <br/>
                        @inquiry.Subject 
                    </a>
                    <div>
                        @category.Tag.Name.Or("No tags")
                    </div>
                </li>
            }
        </ul>
    </div>    
}
</div>