@model BinaryStudio.ClientManager.DomainModel.Entities.Inquiry

@{
    ViewBag.Title = "Details";
}

    
<div class="container">
    <div class="page-header">
        <h2>Details</h2>
    </div>
    <fieldset class="form-horizontal">
        <div class="row">
            <div class="span4 well">
                <p>
                    Date: @Model.Source.Date
                </p>
                <p>
                    Full name: @(Model.Source.Sender != null ? Model.Source.Sender.FullName : "Not set")
                </p>
                <p>
                    Email: @(Model.Source.Sender != null ? Model.Source.Sender.Email : "Not set")
                </p>
            </div>
            <div class="span4 well">
                <p>
                    Subject: @Model.Source.Subject
                </p>
                <p>
                    @Model.Source.Body
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span4 well">
                <p>
                    Status: @Model.Status
                </p>
                <p>
                    Assigned to: @Model.Assignee
                </p>
            </div>
        </div>
    </fieldset>
        
    <div class="row">
        <div class="btn-group row">
            <a class = "btn btn-inverse" href="@Url.Action("Edit", "Inquiries", new { id = Model.Id })">Edit</a>
            <a class="btn" href="@Url.Action("MailMessage", new {id = Model.Id})">View original mail</a>
            <a class = "btn" href="@Url.Action("Index", "Dashboard")">Back to Dashboard</a>
        </div>
    </div>
</div>