@using BinaryStudio.ClientManager.DomainModel.Infrastructure
@model BinaryStudio.ClientManager.DomainModel.Entities.Inquiry

@{
    ViewBag.Title = "Inquiry Details";
}

@Html.Partial("_Alert")

<div id="details" class="container">
    <div class="row-fluid">
        <div class="span4">
            <div class="summary">
                <div class="title">
                    <span class="subject">@Model.Subject</span>
                    <span class="pull-right">[@(Model.Archived ? "Archived" : "Current")]</span>
                </div>
                for <a class="client" href="@Url.Action("Details", "Clients", new {id = Model.Client.Id})">@Model.Client.FullName</a>
                <div class="info">
                    <div><span class="hint">Due to: </span>@(Model.ReferenceDate.HasValue ? Model.ReferenceDate.Value.ToString("dd.MM.yyyy") : "N/A")</div>
                    <div><span class="hint">Assigned to: </span>@Model.Assignee.SafeGet(x => x.FullName).Or("N/A")</div>
                    <div>
                        <span class="hint">Tags: </span>
                        <ul class="tags">
                            @foreach(var tag in Model.Tags)
                            {
                                <li class="tag">@tag.Name</li>
                            }
                        </ul>
                    </div>
                    <hr/>
                    <div class="description">@Model.Description</div>
                    <div class="edit-link"><a href="@Url.Action("Edit", "Inquiries", new {id = Model.Id})">Edit this inquiry</a></div>
                </div>
            </div>
            <div class="comments">
                <div class="title">
                    <span class="subject">Comments</span>
                    <span class="pull-right"><a href="#comment-editor" data-toggle="modal" onclick="ShowModal(@Model.Id)">Add</a></span>
                </div>
                <ul>
                    @{
                        var isFirst = true;
                        foreach (var comment in Model.Comments)
                        {
                            <li class="comment">
                                @if (!isFirst)
                                {
                                    <hr/>
                                }
                                <div class="comment-date">@comment.Date.ToShortDateString()</div>
                                <div class="comment-text">@comment.Text</div>
                            </li>
                            isFirst = false;
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="span8">
            @{
                Html.RenderAction("MailingHistory","Clients", new {id = Model.Client.Id});
            }
        </div>
    </div>
</div>

@Html.Partial("_CommentEditor")