@model BinaryStudio.ClientManager.DomainModel.Entities.Inquiry

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Inquiry</legend>
    <ul>
        <li>@Model.Source.Sender.FullName</li>
        <li>@Model.Source.Sender.Email</li>
        <li>@Model.Source.Date</li>
        <li>@Model.Source.Body</li>
    </ul>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
