@using BinaryStudio.ClientManager.DomainModel.Infrastructure
@model BinaryStudio.ClientManager.DomainModel.Entities.Inquiry

@{
    ViewBag.Title = "Details";
}

<div id="details" class="container">
    <div class="page-header">
        <h2>Details</h2>
    </div>
    <div class="row-fluid">
        <div class="span5">
            <div>
                <div>
                    <div class="inquiry">
                        <div class="row-fluid">
                            <div class="span4">
                                <img class="pull-left" src="@Model.Client.PhotoUri.Or(Url.DefaultPhoto())" alt="Photo" width="48" height="48"/>
                            </div>
                            <div class="span8 primary-info">
                                <span class="name">@Model.Client.FullName</span><br/>
                                <span class="subject">@Model.Subject</span><br/>
                            </div>
                        </div>
                        <div class="secondary-info">
                            <div class="phone">
                                <span class="icon-headphones"></span> @Html.SkypeLink(Model.Client.Phone)
                            </div>
                            <div class="email">
                                <span class="icon-envelope"></span> @Html.Email(Model.Client.Email, Model.Client.Email)
                            </div>
                            <div>
                                <span class="icon-user"></span> @Model.Assignee.SafeGet(x=>x.FullName).Or("N/A")<br/> 
                                <span class="icon-flag"></span>Country: @Model.Client.Country <br/> 
                                <span class="icon-calendar"></span>@Model.ReferenceDate  <br/> 
                            </div>
                        </div>
                        <div>
                            <a href="@Model.Client.FacebookUri">
                                <span class="facebook-icon"></span>
                            </a>
                            <a href="@Model.Client.TwitterUri">
                                <span class="twitter-icon"></span>
                            </a> 
                            <a href="@Model.Client.LinkedInUri">
                                <span class="linkedin-icon"> </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="comments">
                    <h2>Comments</h2>
                    @foreach(var comment in Model.Comments)
                    {
                        <div class="comment">
                            <div class="comment-text">@comment.Text</div>
                            <div class="comment-date">@comment.Date</div>                               
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="span7">
            @{
                Html.RenderAction("MailingHistory","Clients",new {id=Model.Client.Id});
            }
        </div>
    </div>
</div>