@model BinaryStudio.ClientManager.DomainModel.Entities.Inquiry

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.HiddenFor(model => model.Id)
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Inquiry</legend>
                
        <div class = editor-label>
            @Html.EditorFor(model => model.Client.FullName)
            @Html.ValidationMessageFor(model => model.Client.FullName)
        </div>
        
        <div class = editor-label>
            @Html.EditorFor(model => model.Client.Email)
            @Html.ValidationMessageFor(model => model.Client.Email)
        </div>

        <div class = editor-label>
            @Html.EditorFor(model => model.Source.Subject)
            @Html.ValidationMessageFor(model => model.Source.Subject)
        </div>
        
        <div class = editor-label>
            @Html.EditorFor(model => model.Source.Body)
            @Html.ValidationMessageFor(model => model.Source.Body)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
