@using BinaryStudio.ClientManager.DomainModel.DataAccess
@using BinaryStudio.ClientManager.WebUi.Controllers
@using BinaryStudio.ClientManager.DomainModel.Infrastructure
@using FizzWare.NBuilder.Dates
@model BinaryStudio.ClientManager.WebUi.Models.MonthViewModel
@{
    ViewBag.Title = "MonthView";
}

<script type="text/javascript">
    //current inquiry id for modal dialog box
    var currentInquiryId;
    
    //when save button click in modal dialog box
    function postComment() {
        var comment = $('#commentTextArea').val();
        
        var onSuccess = function() {
            //
        };

        var onError = function() {
            alert("Error while AJAX request");
        };

        $.ajax({
            url: "@Url.Action("AddComment")",
            type: "POST",
            data: { inquiryId: window.currentInquiryId, text: comment }
        }).success(onSuccess).error(onError);
    }

    //when click on menu->add comment
    function ShowModal(inquiryId) {
        window.currentInquiryId = inquiryId;               
    };
    
    //When click on menu->assign to->some employee
    function OnClickAssign(employee, inquiry) {
        var onSuccess = function() {
            location.reload(true);
        };

        var onError = function() {
            alert("Error while AJAX request");
        };

        $.ajax({
            url: "@Url.Action("AssignTo")",
            type: "POST",
            data: { inquiryId: inquiry, employeeId: employee }
        }).success(onSuccess).error(onError);
    };
    
    //When click on menu->move to
    function OnClickMoveTo(inquiryId, date) {
        alert(date);
        var onSuccess = function() {
            location.reload(true);
        };

        var onError = function() {
            alert("Error while AJAX request");
        };

        $.ajax({
            url: "@Url.Action("MoveTo")",
            type: "POST",
            data: { inquiryId: inquiryId, date: date }
        }).success(onSuccess).error(onError);
    };
    
</script>


<h2>MonthView</h2>
<div id="month" class="container">
   
    @for (int i = 0; i < 31; i++ )
    {
        <div class="day">
            <ul>
                <title>@DateTime.Today.AddDays(i).ToString("dd.MM.yyyy")</title>
                <li class="inquiry">@Html.Label("dummy");</li>
            </ul>                 
        </div>
    }
    
    <div class="modal hide" id="comment-editor">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>New Comment</h3>
        </div>
        <div class="modal-body">
            <textarea id="commentTextArea" rows="10" cols="40"></textarea>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary" onclick="postComment()">Add Comment</a>
        </div>
    </div>
    
</div>