@model MonthViewModel
@{
    ViewBag.Title = String.Format("This Month - {0}", Model.Name);
}

@*<div id="month" class="container">
    @foreach (var week in Model.Weeks)
    {
        <div class="row">
            <div class="week">
                @foreach (var day in week.Days)
                {
                    <div class="day">            
                        <ul>
                            <title>@String.Format("{0} ({1})", day.Name, day.Date.ToString("dd"))</title>
                            @{
                                var counter = 0;
                                foreach (var inquiry in day.Inquiries)
                                {
                                    <li class="@(counter++ > Model.MaxInquiriesWithoutToggling ? "inquiry hide hidden" + day.Date.Day : "inquiry")">
                                         @Html.ActionLink(@inquiry.Name, "Details", new {id = inquiry.Id})
                                    </li>
                                }
                                if (counter > Model.MaxInquiriesWithoutToggling + 1)
                                {
                                    <li style="text-align: center">
                                         <input type="button" class="btn btn-primary btn-mini" value="More" onclick="toggleList('.hidden' + @(day.Date.Day), this)"/>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    }
</div>   *@

<div id="month" class="container" data-bind="foreach: Weeks">
    <div class="week" data-bind="foreach: Days">
        <div class="day">
            <title data-bind="text: DateStringForMonth"></title>
            <ul data-bind="foreach: Inquiries">
                <li class="inquiry" data-bind="visible: Visible">
                    <a data-bind="text: Name, attr:{href: DetailsUri}"></a>
                </li>
            </ul>
            <div style="text-align: center; margin-bottom: 8px">
                <input type="button" class="btn btn-primary btn-mini" data-bind="visible: InqCount" value="More"/>
            </div>
        </div>
    </div>
    
</div>

<script type="text/javascript">
    function toggleList(selector, self) {
        $(selector).slideToggle();
        $(self).val($(self).val() == 'More' ? 'Less' : 'More');
    }
</script>

<script type="text/javascript">
    $(function () {
        var viewModel = @Html.ToJson(Model);
        viewModel.Filter = ko.observable();
        for (var weekIndex in viewModel.Weeks) {
            var week = viewModel.Weeks[weekIndex];
            for (var dayIndex in week.Days) {
                var day = week.Days[dayIndex];
                day.InqCount = ko.computed(function() {
                    if (day.Inquiries.length>@Model.MaxInquiriesWithoutToggling) {
                        return true;
                    }
                    return false;
                });
                for (var inquiryIndex in day.Inquiries) {
                    var inquiry = day.Inquiries[inquiryIndex];
                    inquiry.Visible = ko.computed(function() {
                        if (!this.Filter() || this.Filter().length == 0) {
                            return true;
                        }
                        var localInquiry = this.Inquiry;
                        for (var property in localInquiry) {
                            if (localInquiry.hasOwnProperty(property) &&
                                String(localInquiry[property]).contains(this.Filter())) {
                                return true;
                            }
                        }
                        return false;
                    }, {
                        Filter: viewModel.Filter,
                        Inquiry: inquiry
                    });
                }
            }
        }
      ko.applyBindings(viewModel);
    });
    

</script>