@model BinaryStudio.ClientManager.WebUi.Models.MonthViewModel
@{
    ViewBag.Title = String.Format("Month - {0}", Model.Name);
}

<div id="month" class="container">
    @foreach (var week in Model.Weeks)
    {
        <div class="row">
            <div class="week">
                @foreach (var day in week.Days)
                {
                    <div class="day">            
                        <ul>
                            <title>@String.Format("{0} ({1})", day.Name, day.Date.ToString("dd"))</title>
                            @{
                                var counter = 0;
                                foreach (var inquiry in day.Inquiries)
                                {
                                    <li class="@(counter++ > Model.MaxInquiriesWithoutToggling ? "inquiry hide hidden" + day.Date.Day : "inquiry")">
                                         @Html.ActionLink(@inquiry.Name, "Details", new {id = inquiry.Id})
                                    </li>
                                }
                                if (counter > Model.MaxInquiriesWithoutToggling + 1)
                                {
                                    <li style="text-align: center">
                                         <input type="button" class="btn btn-primary btn-mini" value="More" onclick="toggleList('.hidden' + @(day.Date.Day), this)"/>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    }
</div>   

<script type="text/javascript">
    function toggleList(selector, self) {
        $(selector).slideToggle();
        $(self).val($(self).val() == 'More' ? 'Less' : 'More');
    }
</script>