@model BinaryStudio.ClientManager.WebUi.Models.MonthViewModel
@{
   ViewBag.Title = String.Format("Month - {0}", Model.Name);
}

<div id="month" class="container">
    @foreach( var week in Model.Weeks)
    {
        <div class="row">
            <div class="week">
                @foreach(var day in week.Days)
                {
                    <div class="day">            
                        <ul>
                            <title>@String.Format("{0} ({1})", day.Name, day.Date.ToString("dd"))</title>
                            @{ 
                                var counter = 0;
                                var thisday = day.Date.Day;
                            }      
                            @foreach (var inquiry in day.Inquiries)
                            {
                                if(counter == 4)
                                {
                                    <li class="inquiry">
                                        <input type="button" class="btn btn-primary btn-mini" value="Show/hide" onclick="hidebelow(@thisday)"/>
                                    </li>
                                }
                                if (counter < 4)
                                {
                                    <li class="inquiry">
                                        @Html.ActionLink(@inquiry.Name, "Details", new { id = inquiry.Id })
                                    </li>
                                }
                                else
                                {
                                    <div id="@day.Date.Day" class="hide">
                                        <li class="inquiry">
                                            @Html.ActionLink(@inquiry.Name, "Details", new { id = inquiry.Id })
                                        </li>
                                    </div>
                                }
                                counter++;
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    }
</div>   

<script type="text/javascript">
    function hidebelow(id) {
        if ($("#" + id).is(':visible')) {
            $("#" + id).hide();
        }
        else {
            $("#" + id).show();
        }
    }
</script>