@using Microsoft.Web.Mvc
@model WeekViewModel

@{
    ViewBag.Title = "This Week";
}

@Html.Partial("_Alert")

@*
<div id="week" class="container">
    @foreach (var day in Model.Days)
    {
        <div class="day">
            <ul>
                <title>@day.Name (@day.Date.ToString("dd.MM"))</title>
                @foreach (var inquiry in day.Inquiries)
                {
                    @Html.Partial("_Inquiry",
                                        new InquiryPartialViewModel
                                            {
                                                Inquiry = inquiry,
                                                Employees = Model.Employees,
                                                Tags = Model.Tags
                                            })
                }
            </ul>
        </div>
    }
</div>*@

<div id="week" class="container" data-bind="foreach: Days">
    <div class="day">
        <title data-bind="text: Name"></title>
        <ul data-bind="foreach: Inquiries">            
            @Html.Partial("_Inquiry")
        </ul>
    </div>
</div>

@Html.Partial("_CommentEditor")

<script type="text/javascript">
    $(function() {
        window.viewModel = @Html.ToJson(Model);
    });
</script>

@Html.Script("WeekViewFiltering.js")

