@using BinaryStudio.ClientManager.DomainModel.Entities
@using BinaryStudio.ClientManager.DomainModel.Infrastructure
@using BinaryStudio.ClientManager.WebUi.Models
@model BinaryStudio.ClientManager.WebUi.Models.WeekViewModel


@helper MoveForward(string text, DateTime date, int inquiryId)
{
    <li><a href="#" onclick="OnClickMoveTo(@inquiryId,'@date.ToString("yyyy-MM-dd")')"><span class="icon-arrow-right"></span> @text (@date.ToString("dd.MM"))</a></li>
}

@{
    ViewBag.Title = "This Week";
}

<div class="wrap">
    <div id="saved-comment" class="message-alert hide"></div>
</div>

<div id="week" class="container">
    @foreach (var day in Model.Days)
    {
        <div class="day">
            <ul>
                <title>@day.Name (@day.Date.ToString("dd.MM"))</title>
                @foreach (var inquiry in day.Inquiries)
                {
                    @Html.Partial("_Inquiry", new InquiryPartialViewModel{Inquiry = inquiry,Employees = Model.Employees,Tags = Model.Tags})          
                }
            </ul>
        </div>
    }
    <div class="modal hide" id="comment-editor">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>New Comment</h3>
        </div>
        <div class="modal-body">
            <textarea id="commentTextArea" rows="10" cols="40"></textarea>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary" data-dismiss="modal" onclick="OnClickAddComment()">Add Comment</a>
        </div>
    </div>
</div>