@using Microsoft.Web.Mvc
@model WeekViewModel

@{
    ViewBag.Title = "This Week";
}

@Html.Partial("_Alert")

<div id="week" class="container" data-bind="foreach: Days">
    <div class="day">
        <title data-bind="text: Name"></title>
        <ul class="inquiry-list" data-bind="attr: {id: Id, data: DateString}, foreach: Inquiries">      
            @Html.Partial("_Inquiry")
        </ul>
    </div>  
</div>


@Html.Partial("_CommentEditor")

<script type="text/javascript">
    $(function() {
        window.viewModel = @Html.ToJson(Model);
    });
</script>

@Html.Script("WeekViewFiltering.js")

@Html.Script("WeekViewDragAndDrop.js")
