@model BinaryStudio.ClientManager.DomainModel.Entities.Person

@{
    ViewBag.Title = "Client edit";
}   
<div id="client-edit" class = "container span5">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Id)
            
        <div class="block">
            <div class="field-label">
                First Name
            </div>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "field-editor" })
        </div>
                
        <div class="block">
            <div class="field-label">
                Last Name
            </div>
            @Html.TextBoxFor(m => m.LastName, new { @class = "field-editor" })
        </div>
            
        <div class="block">
            <div class="field-label">
                Creation Date
            </div>
            <div class="field-editor">
                @Html.EditorFor(m => m.CreationDate )
            </div>
        </div>
            
        <div class="block">
            <div class="field-label">
                Country
            </div>
            @Html.TextBoxFor(m => m.Country, new { @class = "field-editor" })
        </div>
            
        <div class="block">
            <div class="field-label">
                Email
            </div>
            @Html.TextBoxFor(m => m.Email, new { @class = "field-editor" })
        </div>
            
        <div class="block">
            <div class="field-label">
                Skype
            </div>
            @Html.TextBoxFor(m => m.Phone, new { @class = "field-editor" })
        </div>
            
            
        <div class="block">
            <div class="field-label">
                LinkedIn Profile
            </div>
            @Html.TextBoxFor(m => m.LinkedInUri, new { @class = "field-editor" })
        </div>
            
        <div class="block">
            <div class="field-label">
                Facebook Profile
            </div>
            @Html.TextBoxFor(m => m.FacebookUri, new {@class = "field-editor"})
        </div>
            
        <div class="block">
            <div class="field-label">
                Twitter Profile
            </div>
            @Html.TextBoxFor(m => m.TwitterUri, new { @class = "field-editor" })
        </div>

        <div class="btn-group">
            <input type="submit" class = "btn" value="Save" />
            <a class = "btn" href="@Url.Action("Details", "Clients", new {id = Model.Id})">Cancel</a>
        </div>
    }
</div>

    