@model IQueryable<BinaryStudio.ClientManager.DomainModel.Entities.Person>

<div class="container">           
    <ul class ="clients">
        @foreach(var client in Model)
        {
            <li>
                <div class="row-fluid" >
                    <div class="span2">
                        <img src='<%= @Url.Action( "ShowPhoto", "Clients", new { id = client.Id } ) %>' alt="Photo" height="100px" width="100px"/>
                    </div>
                    <div class="span5">
                        <p>
                            Full Name: @client.FullName 
                        </p>
                        <p>
                            Country: @client.Country
                        </p>
                    </div>
                    <div class="span5">
                        <p>
                            Email: @client.Email
                        </p>  
                        <p>
                            Phone: @client.Phone
                        </p> 
                        <a class="btn-info" href="@Url.Action("MailingHistory", "Clients", new { id = client.Id })">Mailing history</a>                       
                    </div>  
                </div>
            </li>
        }
    </ul>
</div>