@model BinaryStudio.ClientManager.DomainModel.Entities.Person

@{
    ViewBag.Title = "MailingHistory";
}

<div class="container">
    <div class="span3">
        <div class="client-info">
            <p><b>Name: </b>@Model.FullName</p>
            <p><b>Country: </b>@Model.Country</p>
            <p><b>E-mail: </b>@Model.Email</p>
            <p><b>Phone: </b>@Model.Phone</p>
            <p><b>With us since: </b>@Model.CreationDate</p>
        </div>
    </div>
    <div class="span7">
        <ul class="mailing-history">
            <!-- for debug --> 
            @if (Model.RelatedMails != null)
            {
                int i = 0;
                foreach (var mail in Model.RelatedMails)
                {
                        if (i % 2 == 0)
                        {
                            <li class="row span5 client-msg">
                                <p><b>From: </b>@mail.Sender.FullName</p>
                                <p><b>Subject: </b>@mail.Subject</p>
                                <p><b>Date: </b>@mail.Date</p>
                                <p>
                                <p><p>@mail.Body</p>
                            </li>
                        }
                        else
                        {
                        <li class="row span5 employee-msg">
                            <p><b>From: </b>@mail.Sender.FullName</p>
                            <p><b>Subject: </b>@mail.Subject</p>
                            <p><b>Date: </b>@mail.Date</p>
                            <p>
                            <p><p>@mail.Body</p>
                        </li>
                        }
                    i++;
                }                
            }
        </ul>
    </div>
    <a class = "btn offset9" href="@Url.Action("Index", "Clients")">Back to list</a>
</div>