@using BinaryStudio.ClientManager.DomainModel.Entities
@model BinaryStudio.ClientManager.DomainModel.Entities.Person

@{
    ViewBag.Title = "MailingHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
    <div class="span3">
        <ul class="client-info">
            <li><b>Name: </b>@Model.FullName</li>
            <li><b>Country: </b>@Model.Country</li>
            <li><b>E-mail: </b>@Model.Email</li>
            <li><b>Phone: </b>@Model.Phone</li>
            <li><b>With us since: </b>@Model.CreationDate</li>
        </ul>
    </div>
        <div class="span9">
            <ul class="mailing-history">
                <!-- for debug --> 
                @if (Model.RelatedMails != null)
                {
                    foreach (var mail in Model.RelatedMails)
                    {
                        <li class="span9">
                            @if (Model.Role == PersonRole.Client)
                            {
                                <div class="client-msg">
                                    <p><b>Date: </b>@mail.Date</p>
                                    <p><p>@mail.Body</p>
                                </div>
                            }
                            else
                            {
                                <div class="employee-msg">
                                    <p><b>Date: </b>@mail.Date</p>
                                    <p><p>@mail.Body</p>
                                </div>
                            }
                        </li>
                    }
                }
            </ul>
        </div>
        </div>
</div>