@using BinaryStudio.ClientManager.DomainModel.Entities
@model IEnumerable<MailMessage>

@{
    Layout = "";
}

<div id="mailing-history">
    <div>
        <ul class="wrapper">
            <!-- for debug --> 
            @if (Model != null)
            {
                foreach (var mail in Model)
                {
                    <div class="row">
                        <li class = "span5 @(mail.Sender.Role == PersonRole.Client ? "client-msg" : "employee-msg")">
                            <span class="emphasis">From: </span>@mail.Sender.FullName<br/>
                            <span class="emphasis">Subject: </span>@mail.Subject<br/>
                            <span class="emphasis">Date: </span>@mail.Date
                            <hr/>

                            @if (mail.Body.Count() > 80)
                            {
                                <span class="short-mail">@mail.Body.Cut(80)</span>
                                <span class="full-mail">@mail.Body</span>
                                <span class="icon-chevron-down pull-right" onclick="toggleMail(this)"></span>
                            }
                            else
                            {
                                <span>@mail.Body</span>
                            }
                        
                        </li>                        
                    </div>
                }
            }
        </ul>
    </div>
</div>

<script type="text/javascript">
function toggleMail(self) {
    $(self).parent().children(".full-mail, .short-mail").toggle();
    $(self).toggleClass("icon-chevron-down").toggleClass("icon-chevron-up");
}
</script>