@model BinaryStudio.ClientManager.DomainModel.Entities.Person

@{
    ViewBag.Title = "MailingHistory";
}

<div class="container">
    <div class="span3 client-info">
            <span class="emphasis">Name: </span>@Model.FullName<br/>
            <span class="emphasis">Country: </span>@Model.Country<br/>
            <span class="emphasis">E-mail: </span>@Model.Email<br/>
            <span class="emphasis">Phone: </span>@Model.Phone<br/>
            <span class="emphasis">With us since: </span>@Model.CreationDate
    </div>
    <div class="span7">
        <ul class="wrapper">
            <!-- for debug --> 
            @if (Model.RelatedMails != null)
            {
                int i = 0;
                foreach (var mail in Model.RelatedMails)
                {
                    <!-- for demonstration -->
                        /*
                        if (mail.Role == PersonRole.Client)
                        */
                        if (i % 2 == 0)
                        {
                            <li class="span5 client-msg">
                                <span class="emphasis">From: </span>@mail.Sender.FullName<br/>
                                <span class="emphasis">Subject: </span>@mail.Subject<br/>
                                <span class="emphasis">Date: </span>@mail.Date
                                <div class="mail-body">@mail.Body.</div>
                            </li>
                        }
                        else
                        {
                        <li class="span5 employee-msg">
                            <span class="emphasis">From: </span>@mail.Sender.FullName<br/>
                            <span class="emphasis">Subject: </span>@mail.Subject<br/>
                            <span class="emphasis">Date: </span>@mail.Date<br/>
                            <div class="mail-body">@mail.Body</div>
                        </li>
                        }
                    i++;
                }                
            }
        </ul>
    </div>
    <a class = "btn offset9" href="@Url.Action("Index", "Clients")">Back to list</a>
</div>