@model BinaryStudio.ClientManager.DomainModel.Entities.Person

@{
    ViewBag.Title = "MailingHistory";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("li").click(function () {
            var briefMail = $(this).children(".brief-mail");
            
            if (briefMail.length > 0) {
                briefMail.toggle();
                $(this).children(".full-mail").toggleClass("hidden");
            }
        });
    });
</script>

<div class="container">
    <div class="span3 client-info">
            <span class="emphasis">Name: </span>@Model.FullName<br/>
            <span class="emphasis">Country: </span>@Model.Country<br/>
            <span class="emphasis">E-mail: </span>@Model.Email<br/>
            <span class="emphasis">Phone: </span>@Model.Phone<br/>
            <span class="emphasis">With us since: </span>@Model.CreationDate
    </div>
    <div class="span7">
        <ul class="wrapper">
            <!-- for debug --> 
            @if (Model.RelatedMails != null)
            {
                int i = 0;
                foreach (var mail in Model.RelatedMails)
                {
                    <!-- for demonstration -->
                    /*
                    <li class = "row span5 @(mail.Role == PersonRole.Client ? "client-msg" : "employee-msg")">
                    */
                    <li class = "row span5 @(i % 2 == 0 ? "client-msg" : "employee-msg")">
                        <span class="emphasis">From: </span>@mail.Sender.FullName<br/>
                        <span class="emphasis">Subject: </span>@mail.Subject<br/>
                        <span class="emphasis">Date: </span>@mail.Date

                        @if (mail.Body.Count() > 50)
                        {
                            <div class="brief-mail">@(mail.Body.Substring(0, 70) + " ...")</div>
                            <div class="full-mail hidden">@mail.Body</div>
                        }
                        else
                        {
                            <div class="full-mail">@mail.Body</div>
                        }
                    </li>
                    i++;
                }
            }
        </ul>
    </div>
    <a class = "btn offset9" href="@Url.Action("Index", "Clients")">Back to list</a>
</div>