@using BinaryStudio.ClientManager.DomainModel.Entities
@model BinaryStudio.ClientManager.DomainModel.Entities.Person

@{
    Layout = "";
}

<div id="mailing-history">
    <div>
        <ul class="wrapper bordered">
            <!-- for debug --> 
            @if (Model.RelatedMails != null)
            {
                foreach (var mail in Model.RelatedMails)
                {
                    <div class="row">
                        <li class = "span5 bordered @(mail.Sender.Role == PersonRole.Client ? "client-msg" : "employee-msg")">
                            <span class="emphasis">From: </span>@mail.Sender.FullName<br/>
                            <span class="emphasis">Subject: </span>@mail.Subject<br/>
                            <span class="emphasis">Date: </span>@mail.Date

                            @if (mail.Body.Count() > 50)
                            {
                                <div class="brief-mail">@(mail.Body.Substring(0, 70) + " ...")</div>
                                <div class="full-mail hidden">@mail.Body</div>
                            }
                            else
                            {
                                <div class="full-mail">@mail.Body</div>
                            }
                        
                        </li>                        
                    </div>
                }
            }
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("li").click(function () {
            var briefMail = $(this).children(".brief-mail");

            if (briefMail.length > 0) {
                briefMail.toggle();
                $(this).children(".full-mail").toggleClass("hidden");
            }
        });
    });
</script>
