@using BinaryStudio.ClientManager.DomainModel.Entities
@model BinaryStudio.ClientManager.WebUi.Models.DashboardModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper RenderColumn(string title, IEnumerable<Inquiry> inquiries)
{
    <div class="column">
        <h2>@title</h2>
        <ul class="inquiries">
            <!-- for debug --> 
            @if (inquiries !=null)
            {
                foreach (var inquiry in inquiries)
                {
                    <li>
                        @inquiry.Source.Subject
                    </li>
                }
            }
        </ul>
    </div>
}

<div class="container">
    @RenderColumn("Inquiries", Model.Inquiries)
    @RenderColumn("In Progress", Model.InProgress)
    @RenderColumn("Waiting for Reply", Model.WaitingForReply) 
</div>

