@using BinaryStudio.ClientManager.DomainModel.Entities
@model BinaryStudio.ClientManager.WebUi.Models.DashboardModel

@{
    ViewBag.Title = "Dashboard";
}

<script type="text/javascript">
    var onChange = function(employee, inquiry) {
        var onSuccess = function() {
            location.reload(true);
        };

        var onError = function() {
            alert("Error while AJAX request");
        };

        $.ajax({
            url: "@Url.Action("Index")",
            type: "POST",
            data: { InquiryId: inquiry, EmployeeId: employee }                
        }).success(onSuccess).error(onError);
    };

</script>

@helper RenderColumn(IEnumerable<Inquiry> inquiries)
{
    <div class="column">
            <!-- for debug --> 
            @if (inquiries !=null)
            {
                foreach (var inquiry in inquiries)
                {
                        <div class="well span2" >
                            <p>@inquiry.Source.Subject</p>
                            @if (inquiry.Status == InquiryStatus.InProgress)
                            {
                                if (inquiry.Assignee != null)
                                {
                                    <p class="assignee">@inquiry.Assignee.FullName</p>
                                }
                                else
                                {
                                    <p class="assignee">Nobody is assigned</p>
                                }
                            }
                            else if (inquiry.Status == InquiryStatus.IncomingInquiry)
                            {
                                <select id="@inquiry.Id" class="span2" onchange="onChange(value, id)">
                                    <option hidden></option>
                                    <option disabled>Choose employee</option>
                                    @foreach (var employee in Model.Employees)
                                    {
                                        <option value="@employee.Id">@employee.FullName</option>
                                    }
                                </select>
                                <div class="btn-group">
                                    <a class = "btn btn-inverse" href="@Url.Action("Edit", "Inquiries", new { id = inquiry.Id })">Edit</a>
                                    <a class = "btn" href="@Url.Action("Details", "Inquiries", new { id = inquiry.Id })">Details</a>
                                </div>
                            }
                        </div>
                }
            }
    </div>
}

<div class="container" align="center">
    <div class = "span3">
        <div class ="page-header">
            <h3>Inquiries</h3>
        </div>
        @RenderColumn(Model.Inquiries)
    </div>
    <div class = "span3">
        <div class ="page-header">
            <h3>In Progress</h3>
        </div>
        @RenderColumn(Model.InProgress)
    </div>
    <div class = "span3">
        <div class ="page-header">
            <h3>Waiting for Reply</h3>
        </div>
        @RenderColumn(Model.WaitingForReply) 
    </div>
</div>

 
