@using BinaryStudio.ClientManager.DomainModel.Entities
@model BinaryStudio.ClientManager.WebUi.Models.DashboardModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper RenderColumn(IEnumerable<Inquiry> inquiries)
{
    <div class="column">
            <!-- for debug --> 
            @if (inquiries !=null)
            {
                foreach (var inquiry in inquiries)
                {
                        <div class="well span2" >
                            <p>@inquiry.Source.Subject</p> <!-- FIXME - debug edition -->
                            @if (inquiry.Status == InquiryStatus.InProgress && inquiry.AssignTo != null)
                            {
                                <p class="assignee">@inquiry.AssignTo.FullName</p>
                            }
                            else if (inquiry.Status == InquiryStatus.IncomingInquiry)
                            {
                                <select id="employees" class="span2" onchange="ChangeEmployee">
                                    <option hidden></option>
                                    <option disabled>Choose employee</option>
                                    @foreach (var employee in Model.Employees)
                                    {
                                        <option>@employee.FullName</option>
                                    }
                                </select>
                                <div class="btn-group">
                                    <a class = "btn btn-inverse" href="@Url.Action("Edit", "Inquiries", new {id = inquiry.Id})">Edit</a>
                                    <a class = "btn" href="@Url.Action("Details", "Inquiries", new {id = inquiry.Id})">Details</a>
                                </div>
                            }
                        </div>
                }
            }
    </div>
}

<div class="container" align="center">
    <div class = "span3">
        <div class ="page-header">
            <h3>Inquiries</h3>
        </div>
        @RenderColumn(Model.Inquiries)
    </div>
    <div class = "span3">
        <div class ="page-header">
            <h3>In Progress</h3>
        </div>
        @RenderColumn(Model.InProgress)
    </div>
    <div class = "span3">
        <div class ="page-header">
            <h3>Waiting for Reply</h3>
        </div>
        @RenderColumn(Model.WaitingForReply) 
    </div>
</div>

 
