@using Microsoft.Web.Mvc
@model LogOnModel

@(Layout = null)

<!DOCTYPE html>
<html>
    <head>
        <title>Authorization</title>
    </head>

    <body>
        <div class="container hero-unit">
            <h1>Hello user!!!!!!</h1>
            <div class="pull-right"> @*TODO REWRITE THIS STUFF*@
                <p><a class="btn btn-primary btn-large" href="@(Model.FacebookLoginUri)" style="position: absolute; bottom: 45%; right: 10%; width: 20%">Log in via Facebook</a></p>
                <p><a class="btn btn-primary btn-large" href="@(Model.GoogleLoginUri)" style="position: absolute; bottom: 35%; right: 10%;  width: 20%">Log in via Google</a></p>
            </div>
        </div>
    </body>

    @Html.Css("bootstrap.min.css")
    @Html.Css("bootstrap-responsive.min.css")
    @Html.Script("bootstrap.min.js", "bootstrap.js")
</html>
