@using Microsoft.Web.Mvc
@model LogOnModel

@(Layout = null)

<!DOCTYPE html>
<html>
    <head>
        <title>Authorization</title>
    </head>

    <body>
        <div class="container hero-unit">
            <div align="center">
                <h1 align="center">Welcome to Client Manager system!</h1>
                <br/>
                <br/>
                <image src=@Url.Content("~/Content/logo.png")></image>
            </div>
            <br/>
            <br/>
            <div align="center">
                <a class="btn btn-primary btn-large" href="@(Model.GoogleLoginUri)">
                    Log in via Google
                </a>
            </div>
        </div>
    </body>

    @Html.Css("bootstrap.min.css")
    @Html.Css("bootstrap-responsive.min.css")
    @Html.Script("bootstrap.min.js", "bootstrap.js")
</html>
